# Node
node_modules/
npm-debug.log*
yarn.lock
package-lock.json

# Build
build/
dist/

# Python
venv/
.venv/
__pycache__/
*.pyc

# Env/konfig
.env
*.env
# Frontend env (CRA)
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Diverse
svar_backup.json
